body{
	background-image: url("../images/crossword.png");
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

h1{
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 21px;
}
h3 > a{	
	color: black;
}
h3 > a:hover{
	color: #C0392B;
	text-decoration: none;
}

.tabspace {
	padding-top: 60px;
}

p,
ul {
	margin: 0 auto;
	padding: 0;
	
} 

#container{
	width:970px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

#left{
	width:230px;
	position:fixed;
	float:left;
}

#left li{
	margin-bottom: 0px;
	list-style: none;
}

#left a {
	background-color: #0027af;
	color: #282828;
	display:block;
	font-size: 16px;
	color: white;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	width: 230px;
	border-left: 5px solid #282828;
	letter-spacing: 1px;
}

#left a:hover {
	background: #cc0000;
	border-left: 5px solid #282828;
}
#left .current a {
	background: #012c51;
	color: #FFF;
}

#leftheader{
	color: #282828;
	display:block;
	font-size: 16px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	width: 230px;
	letter-spacing: 1px;
}

#right{
	width:720px;
	float:right;
	font-family: 'Open Sans', sans-serif;
}
#title-box{
	background: #0027af;
	color: white;
}
#title-box >a{
	color: white;
}
#title-box > a:hover{
	text-decoration: none;
}

#four-section{
	margin-top: 10px;
	background:#1942b3;
	height:120px;
}

address{
	font-size: 16px;
}
#news-section{
	margin-top: 10px;
	margin-left: 0px;
	width: 750px;
}
.news-section-block{
	margin-right: 22px;
	width: 30%;
	float:left;
}
.caption > h3{
	color: #103e94;
}

#facebook-icon{
	margin-left: 60px;
}
#facebook-icon, #twitter-icon{
	height:24px;
	width: 24px;
	margin-right: 10px;
	float: left;
}
#youtube-icon{
	height:24px;
	width: 32px;
	float: left;

}
#facebook-icon{
	background-image: url('../images/facebook.png');
}
#facebook-icon:hover{
	background-image: url('../images/facebook-red.png');
}
#twitter-icon{
	background-image: url('../images/twitter.png');
}
#twitter-icon:hover{
	background-image: url('../images/twitter-red.png');
}
#youtube-icon{
	background-image: url('../images/youtube.png');
}
#youtube-icon:hover{
	background-image: url('../images/youtube-red.png');
}
.footer{
	border-top: 1px solid #aaa;
	padding-top: 10px;
	padding-bottom: 40px;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}

#contents-box{
	float:right;
	width:200px;
	height:180px;
	background: white;
	padding:10px;
	margin-left: 10px;
	margin-top: 20px;
}

.divider-line{
	width: 680px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #bbb;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 60px;
}

.divider-start{
	width: 680px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 60px;
}
.about > h3{
	color: #C0392B;
}
.contents-list > li{
	margin-top: 10px;
}

a.div-link{
	display:block;
    width:25%;
    height:120px; 
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-left: 1px dotted white;
}
a.div-link > h3{
	margin-top: 10px;
	margin-bottom: 5px;
}
a.div-link:hover{
	text-decoration: none;
	background: #C0392B;
}
a.div-link:first-child{
	border-left: none;
}
blockquote p{
	font-size: 14px;
}
#hhlogo{
	margin-left: 24px;
}

#footer-span > a{
	margin-left: 15px;
}
#logo-area > a:first-child{
	margin-left: 0;
}
#logo-area > a{
	margin-left: 6px;
}
.well-sm > p > img{
	margin-right: 10px;
}
.clear{
	clear: both;
}

.shadow {
    -moz-box-shadow: 0 0 5px 1px #afaeae;
    -webkit-box-shadow: 0 0 5px 1px #afaeae;
}

#logo {
	width:204px;
}

.quicklinks {
  font-size: .9em;
  //padding-left: 20px;
  //padding-right: 40px; 
}

.eventimg {
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.eventac {
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
}

#collegepic {
	width: 100%;
	height: 100%;
}

.contacttable {
	width: 100%;
	border: 0;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
}

.class {
	
}


