body{
	font-family: 'Roboto Condensed', sans-serif;
	background: #ECF0F1;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}

h1{
	margin-top: 0px;
	margin-bottom: 0px;
}
h3{
	margin-top: 15px;
	font-size: 21px;
}
h3 > a{	
	color: black;
}
h3 > a:hover{
	color: #C0392B;
	text-decoration: none;
}

.red{
	color: #C0392B;
}
#container{
	width:970px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#left{
	width:220px;
	float:left;
	padding-bottom: 20px;
}
#right{
	width:720px;
	float:right;
	font-family: 'Open Sans', sans-serif;
}
#title-box{
	background: #C0392B;
	border: 1px solid #c0392b;
	padding: 15px;
	color: white;
}
#title-box >a{
	color: white;
}
#title-box > a:hover{
	text-decoration: none;
}
#donate-area{
	text-align: center;
	margin-top: 30px;
}
#four-section{
	margin-top: 10px;
	background:#E74C3C;
	height:100px;
}
.sponsor-area{
	margin-top: 10px;
	height:80px;
}
address{
	font-size: 16px;
}
#news-section{
	margin-top: 10px;
	margin-left: 0px;
	width: 750px;
}
.news-section-block{
	margin-right: 22px;
	width: 30%;
	float:left;
}
.caption > h3{
	color: #2980B9;
}
#vayalogo{
}
#facebook-icon{
	margin-left: 60px;
}
#facebook-icon, #twitter-icon{
	height:24px;
	width: 24px;
	margin-right: 10px;
	float: left;
}
#youtube-icon{
	height:24px;
	width: 32px;
	float: left;

}
#facebook-icon{
	background-image: url('../images/facebook.png');
}
#facebook-icon:hover{
	background-image: url('../images/facebook-red.png');
}
#twitter-icon{
	background-image: url('../images/twitter.png');
}
#twitter-icon:hover{
	background-image: url('../images/twitter-red.png');
}
#youtube-icon{
	background-image: url('../images/youtube.png');
}
#youtube-icon:hover{
	background-image: url('../images/youtube-red.png');
}
.footer{
	border-top: 1px solid #aaa;
	padding-top: 10px;
	padding-bottom: 40px;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}

#contents-box{
	float:right;
	width:200px;
	height:180px;
	background: white;
	padding:10px;
	margin-left: 10px;
	margin-top: 20px;
}
.divider-line{
	width: 680px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #bbb;
	margin-top: 30px;
	margin-bottom: 30px;
}
.about > h3{
	color: #C0392B;
}
.contents-list > li{
	margin-top: 10px;
}
#committee >thead, #committee > tbody{
	background: white;
}
#horsie{
	margin-left: 200px;
}
a.div-link{
	display:block;
    width:25%;
    height:100px; 
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-left: 1px dotted white;
}
a.div-link > h3{
	margin-top: 10px;
}
a.div-link:hover{
	text-decoration: none;
	background: #C0392B;
}
a.div-link:first-child{
	border-left: none;
}
blockquote p{
	font-size: 14px;
}
#hhlogo{
	margin-left: 24px;
}
#directions-link{
	color: black;
}
#directions-link:hover{
	text-decoration: none;
}
#horse-smaller{
	margin-top: 15px;
}
#footer-span > a{
	margin-left: 15px;
}
#logo-area > a:first-child{
	margin-left: 0;
}
#logo-area > a{
	margin-left: 6px;
}
.well-sm > p > img{
	margin-right: 10px;
}
.clear{
	clear: both;
}
.pageant-profile-pic{
	margin-left: 20px;
	margin-bottom: 20px;
}
.pageant-thumbnail{
	text-align: center;
	background: transparent;
	border: none;
}
.pageant-thumbnail> .caption > h4{
	margin-bottom: 0;
}
.pageant-thumbnail.active{
	background: #fff;
}

/* Navbar shiets */


.top-part{
	background-image: url("../../images/background3.png");
		background-attachment: scroll;
	background-repeat: no-repeat;
	//background-position: center;
	background-size: 100%;

}

.navbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}

.navbar-inner3 {
  font-size: .9em;
  //padding-left: 20px;
  //padding-right: 40px;
  
  background-color: transparent;
  background-repeat: repeat-x;
  background-color: rgba(255, 255, 255, .89);
  
}

.navbar.navbar-fixed-top .nav  > li > a:hover {
  background-color: transparent;
  color: grey;
  text-decoration: none;
}
.navbar.navbar-fixed-top .nav .active > a, .navbar.navbar-fixed-top .nav .active > a:hover {
  color: #000; /* changed this stuff */
  text-decoration: none;
  background-color: transparent;
}

.navbar.navbar-fixed-top .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: red;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

