/* CSS file for index page*/

/* for pictures */

body{
  
   /* background-image:url('../img/blue-background.jpg' ); */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px; /*dont change this! for the footer & body*/
    color: black;
     background: #333;
    background-size: 100% 100%; /*to make the page responsive*/

}

.IA-title {
text-align:center;
padding-top: 15px;
    font-size: 24px;
    color:white;
    background-color: #09F;
    margin:0px;
    padding-left: 0px;
    padding-right: 0px;
}

#IA-head{

     font-family: 'Muli', 'Sintony', Arial, san-serif;
     font-weight: 800px;
     text-decoration: underline;
}
#GSU{
    font-family: 'Muli', 'Sintony', Arial, san-serif;
    font-variant: small-caps;
}
.container{
    margin-right: auto;
    margin-left: auto;


}

.page-content{
padding-left: 50px;
padding-right: 50px;
padding-top: 75px;
    padding-bottom:30%;

}
.table {
    padding: 0 15px 100px 0;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 97%;
padding-bottom: 15px;
}
.cols{
   
    float:left;
    display: block;
    text-align: center;
    padding-left: 20px;
margin-top: 15px;
    margin-right: 20px;
padding-bottom:100px
    
}


/*Images hover---> ABSOLUTELY NO TOUCHING*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.pic {
/*the pictures are 400x200*/
  border: 8px solid #fff;
  float: left;
  height: 410px;
  width: 210px;

  overflow: hidden;
   transition: width 2s;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
}
/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter:grayscale(100%);
  -o-filter:grayscale(100%);
}



#footer {
width:100%;
        padding:40px 0 100px 0;
float:center;
        margin-top: 30px;
        margin-left: 0px;
        margin-right:0px;
        background: none repeat scroll 0% 0% grey;
        height: 40px;
        text-align: center;
        color: #FFF;
        font-size: 10pt;
        clear: both;
        vertical-align: bottom;
        z-index: 11000;
        position: relative;
        bottom: 0px
}

/* Import google font */
@import url(http://fonts.googleapis.com/css?family=Sintony:400,700|Muli);